.btn-Form {
  background-color: #94b1d1;
  border: 2px solid #062e5a;
  font-size: 1.3rem;
  border-radius: 1rem;
  box-shadow: 1px 5px 11px #062e5a;
  color: #062e5a;
  font-family: cursive;
}
